<p id="notice"><%= notice %></p>
<%=@user.email%><br />
<%= link_to 'Add Properties',new_user_property_path(@user)%>
<%= link_to 'List Properties',user_properties_path(@user)%>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>



