<%= form_for([@user  ,  @property]) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div><%= f.label :Address %><br />
  <%= f.text_field :address, autofocus: true, class:"form-control"%>
</div>
  
<div><%= f.label :Province%><br />
  <%= f.text_field :province,class:"form-control" %>
</div>

  <div><%=f.label :City %><br/>
    <%=f.text_field :city,class:"form-control" %>
  </div>
    <div><%=f.label :Postcode %><br/>
    <%=f.text_field :postcode,class:"form-control" %>
  </div>
    <div><%=f.label :Rent %><br/>
    <%=f.number_field :rent,class:"form-control" %>
  </div>
    <div><%=f.label :Utilies %><br/>
    <%=f.number_field :utilies ,class:"form-control"%>
  </div>

<br>
<%= button_tag(type: 'submit', class: "btn btn-primary center-block") do %>
 <i class="glyphicon glyphicon-ok"></i> Save
<% end %>
<% end %>
