<p id="notice"><%= notice %></p>

<%= @property.address %>

<br>
<%= link_to ' Back to user properties listing', user_properties_path %>
<br>
<%=link_to 'User main page',user_path(@user)%>
<br>
<%=link_to 'Pay ',new_user_property_payment_path(@user,@property)%>

<br>




